{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le styles -->
    {% compress css inline %}
      <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}css/less/style.less" />
      <link href="/static/css/foobarbaz.css" rel="stylesheet" type=text/css />
    {% endcompress %}
    <!--<link href="/static/icomoon/icomoon.css" rel="stylesheet" type=text/css />-->
    <!--<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>-->
    <!--<link rel="shortcut icon" type="image/png" href="http://angularfy.herokuapp.com/static/img/favicon.ico"/>-->

    <!-- Le scripts -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>-->  
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>--> 
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/underscore.string.min.js"></script>
    <script type="text/javascript"> _.mixin(_.str.exports()) </script>
    <script src="/static/js/foobarbaz.js"></script>
  </head>
  
  <body>
    <div class="jumbotron">
      <h1>foobarbaz</h1>
      <p>A good beginning is only half the task.</p>
    </div>
  </body>
</html>



